
 .img-fluid{
    width: 300vw; 
    margin: 0; 
    height: 40px;
    max-width: 100%;
    display: block; 
  margin-bottom: 5px; 
  font-weight: 400;
    text-align: left;
    object-fit: cover; 
    position: relative; 
    margin-top: -5px; 
  }
  h1 {
    color: #ffffff;
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    position: relative; 
    margin-top: -90px; 
    font-weight: 400;
    font-size: 4rem;
    align-items: left;
    line-height: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);

}

.h6{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  position: relative; 
    margin-top: -60px; 
}
.text-content {
  text-align: left;
  margin-top: -90px;
  color: #ffffff00;
}
  
  .hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.404), rgba(255, 255, 255, 0)), url(../IMAGENES/home.jpg) ;
  background-size: cover;
  min-height: 100vh; 
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: #387D49;
  text-shadow: 2px 2px 5px  #387d4954;

}

   .container-fluid{
    padding: 0% 0%;
   }

   

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}


.btn-custom-seccion {
  background-color: #eabfb93f;
  color: #387D49 !important;
  font-family: "Lato", sans-serif;
  font-style: bold;
  font-weight: 500;
  margin-left: 20px;
  top: 20%;
  transition: 0.3s ease;
  border-radius: 20px; 
  padding: 10px 20px;
}

.btn-custom-secc {
  background-color: #fffefe70;
  color: #ffffff;
}


.navbar-toggler {
  border: none;
}

.navbar-brand {
    position: absolute;
    left: 0;
    top: 0%;
    transform: translateY(0%);
    margin-left: -10px;
}


.logo-img {
    max-height: 90px;
    height: auto;
     margin-left: -10px;
}

.btn-custom-blanco {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px; 
}

.btn-custom-blanco:hover {
  background-color: #ffffff;
  color: #0b2712;
}


